body{
  font-family: Helvetica;
  text-align: center;
}

#title{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}


.heading{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  background: URL("../images/the-flatiron-building.png")
}

h2{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p{
  font-family: Helvetica;
  font-size: 14px;
}

#Designated{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background: URL("../images/the-flatiron-building.png");
}

a{
  color: white;
}

footer{
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
